<!-- login.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
    <div th:replace="header :: navbar"></div>
    <div class="container">
        <h1>User Login</h1>
        <div th:if="${error}" class="alert">
            <p th:text="${error}"></p>
        </div>
        <form th:action="@{/users/login}" method="post">
            <label>Email:</label>
            <input type="email" name="email" required/>
            <label>Password:</label>
            <input type="password" name="password" required/>
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a th:href="@{/users/register}">Register here</a>.</p>
    </div>
</body>
</html>
